@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ----------------------------------------------------------------------Header and nav */

header {
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding-left: 12px;
  padding-right: 24px;
  z-index: 999;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
}

#logo {
  height: 100%;
  width: 114px;
  display: flex;
  font-size: 1.25rem;
}

#logo:hover {
  transform: rotate(-360deg);
  transition: 2s linear;
}

.popup-title-wrap h3 {
  color: #172b4d;
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 44px;
}

#logo h3 {
  font-size: 100%;
  color: #28352f;
}

/* --------------------------------------Mobile menu---------------------------------------------- */
#bars,
#close-btn {
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border: none;
  background: #fff;
  font-size: 1.5rem;
}

#close-btn {
  top: 0;
  right: 24px;
  position: absolute;
}

.show-sidebar {
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  position: fixed;
  transform: translate(0);
  transition: 0.3s ease;
  z-index: 999;
  background: #fff;
}

.sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 0.3s ease;
  transform: translate(-100%);
  background: #fff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.mobile-nav-menu {
  height: 184px;
  width: 100%;
  display: block;
  margin-left: 28px;
  margin-top: 72px;
}

.mobile-nav-menu li {
  margin-bottom: 40px;
}

.mobile-nav-menu li a {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  color: #344563;
}

.dropdown {
  overflow: visible;
  height: 20px;
}

.dropdown-content {
  visibility: hidden;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 300;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
}

/* --------------------------------------------------------------Headline---------------------- */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: calc(100% - 48px);
  padding-top: 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 24px;
  padding-right: 24px;
}

.title-wrapper {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title-wrapper h2 {
  color: #172b4d;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
}

#my-name {
  visibility: hidden;
}

.about p {
  font-family: inherit;
  font-weight: 400;
  font-size: 100%;
  color: #172b4d;
}

.about #title-green {
  color: green;
  animation: show 5s linear;
  font-size: 60%;
}

.social-media-icons {
  margin: 0 auto;
  margin-bottom: 64px !important;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170.17px;
}

.about .social-icon {
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}

.about .social-icon i {
  color: #505f79;
  width: 100%;
  height: 100%;
}

.about .header-button {
  height: 40px;
  width: 40px;
  border-radius: 32px;
  border: 1px solid #dfe1e6;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.about .header-button:hover {
  cursor: pointer;
}

/* ---------------------------------------------Works */

.section {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.section .underline {
  width: 48px;
  height: 4px;
  background: #36b37e;
  margin: 0 auto;
  margin-top: 24px;
}

.works-title-wrapper {
  width: 100%;
  font-size: 2.5rem;
}

.works-title-wrapper h2 {
  color: #172b4d;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  text-align: center;
}

.section .cards-container {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

/* About me section */

.about-wrapper {
  font-size: 2.5rem;
}

.about-wrapper h2 {
  color: #172b4d;
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  text-align: center;
}

.about-wrapper p {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 32px;
  text-align: center;
  font-size: 0.5em;
  font-weight: 400;
  font-family: inherit;
}

/* ----------------------------------------------Cards----------------------------------------------- */
.cards-container .project {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

#cards-container {
  display: none;
}

.image-wrapper {
  height: 268px;
  width: 100%;
  background: #d0d9d4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
}

.project-footer {
  padding: 16px;
  width: 100%;
  border-radius: 8px;
}

.project-title-wrapper {
  font-size: 1.5rem;
}

.project-title-wrapper h4 {
  font-size: 100%;
  color: #3a4a42;
  text-align: center;
  text-transform: capitalize;
}

.project-buttons-wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 0.75rem;
}

.project-buttons-wrapper button {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  border: none;
  height: 32px;
  color: #3a4a42;
  font-size: 100%;
  font-weight: 600;
  font-family: inherit;
}

.section-button {
  background: #36b37f;
  padding: 12px;
  border-radius: 4px;
  margin: 0 auto;
  border: none;
  height: 48px;
  font-family: inherit;
  font-size: 1.0625rem;
  font-weight: 500;
  color: #fff;
  display: grid;
  place-items: center;
  text-transform: capitalize;
}

.section-button:hover {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(54, 179, 127, 0.24);
  color: #36b37f;
  border: 1px solid #36b37e;
  cursor: pointer;
}

.section-button:active {
  background: #008552;
}

.section .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  background: #ebf0ee;
  align-items: center;
  height: 352px;
}

.card-buttons-wrap {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 136px;
  font-size: 0.75rem;
}

.card button {
  color: #36b37e;
  background: #fff;
  font-size: 1rem;
  font-weight: 600;
  height: 40px;
  border-radius: 4px;
  padding: 8px 12px;
  border: none;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.card h4 {
  color: #344563;
  font-weight: 600;
  font-size: 100%;
  text-align: center;
}

.card .icon-wrapper {
  display: grid;
  place-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 128px;
  margin-top: 1rem;
  margin-bottom: 40px;
}

.card .icon {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.card-title-wrap {
  height: 2rem;
  font-size: 1.5rem;
  margin: 0 auto;
}

/* --------------------------------------Form section--------------------------------------------------- */
#form-section {
  margin-top: 60px;
}

.contact-text {
  font-size: 2.5rem;
}

.contact-text p {
  font-family: inherit;
  font-size: 100%;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
}

.form-wrapper {
  width: 100%;
  margin-top: 58px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form textarea {
  font-size: 0.94rem;
  height: 90px;
  border: 1px solid #d0d9d4;
  width: 100%;
  padding-left: 12px;
  padding-top: 12px;
  vertical-align: top !important;
  resize: vertical;
  color: #091e42;
}

.contact-form input {
  border: 1px solid #d0d9d4;
  height: 48px;
  width: 100%;
  padding: 15px 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 0.94rem;
}

.contact-form input[type='email'] {
  margin-top: 24px;
  margin-bottom: 24px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #60c095;
}

input:focus:invalid {
  outline: none;
}

.for-error {
  width: 100%;
  position: relative;
}

.error {
  width: 100%;
  padding: 0;
  position: absolute;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
}

.active {
  padding: 0.3em;
  width: 100%;
}

.contact-form #submit-btn {
  margin-top: 36px;
  font-family: inherit;
  font-size: 1.063rem;
  font-weight: 500;
}

/* ------------------------------------Popup---------------------------------------------------- */

.popup-overlay {
  background: rgba(193, 199, 208, 0.9);
  backdrop-filter: blur(5px);
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  overflow-y: scroll;
}

.remove-popup {
  display: none;
}

.popup-card {
  width: 100%;
  background: #fff;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  margin: 2rem 0;
}

#popup-close {
  top: 8px;
  right: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: transparent;
  border: none;
}

.popup-img-wrap img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}

.popup-btn-wrap img {
  width: 24px;
  height: 24px;
}

#popup-close img {
  height: 12px;
  width: 12px;
}

.popup-img-wrap {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  position: relative;
}

.popup-title-wrap {
  width: 100%;
  padding-right: 52px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: capitalize;
}

.popup-tech {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 8px;
  width: 246px;
}

.popup-tech li {
  background: #ebf0ee;
  border-radius: 4px;
  height: 32px;
  padding: 8px 12px;
  color: #3a4a42;
  font-weight: 600;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
}

.popup-desc {
  padding-top: 12px;
  padding-bottom: 12px;
}

.popup-desc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.popup-btn-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 56px;
}

.popup-btn-wrap li a {
  background: #36b37f;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  color: #fff;
  border: none;
  height: 48px;
}

.popup-btn-wrap #see-source-btn {
  width: 158px;
}

.popup-btn-wrap #see-live-btn {
  width: 141px;
}

.popup-btn-wrap #desktop-see-source-btn {
  width: 141px;
}

/* -----------------------------------------Footer------------------------------------------------------- */

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  position: relative;
  padding-top: 46px;
  height: 100px;
}

footer .footer-email {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  margin-top: 10px;
}

footer .footer-email a {
  color: #42526e;
  font-size: 20px;
}

/* ------------------------------------------Media queries------------------------------------------ */
@media screen and (max-width: 768px) {
  .nav-menu,
  .date-time,
  #desktop-popup-btns,
  #desktop-popup-close {
    display: none;
}
}

@media screen and (min-width: 768px) {
  header {
    background: url(images/Header-llustration-desktop@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 260px;
    height: 100vh;
  }

  nav {
    height: 72px;
  }

  #bars,
  #bars,
  .sidebar,
  .show-sidebar,
  #close-btn {
    display: none !important;
  }
  .nav-child {
    width: auto;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background: #fff;
  }
  .nav-menu li,
  .nav-menu-item a{
    background: #fff;
  }

  .nav-menu-item a {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 8px;
    color: #344563;
  }

  .about {
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 184px;
    background: none;
    position: absolute;
  }

  .title-wrapper {
    height: auto;
    width: 100%;
  }

  .works-title-wrapper h2 br {
    display: none;
  }

  .works-title-wrapper h2 {
    line-height: 52px;
    letter-spacing: 0.37px;
  }

  .about #title-green {
    font-size: 100%;
   }

  .about .support-text {
    margin: 0 auto;
    margin-top: 24px;
    height: auto;
    width: 60%;
    height: 164px;
    font-size: 1.25rem;
  }

  .about p {
    line-height: 32px;
    font-weight: 400;
    text-align: center;
  }

  .social-media-icons {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 64px !important;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170.17px;
  }

  .section {
    width: 100%;
    padding-left: 134px;
    padding-right: 134px;
    padding-bottom: 80px;
    margin: 0 auto;
    margin-top: 11.5rem;
  }

  .works-title-wrapper {
    margin-bottom: 52px;
  }

  .underline {
    display: none;
  }

  .about-wrapper p {
    margin-top: 24px;
    margin-bottom: 24px;
    line-height: 32px;
    text-align: center;
  }

  .about-wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 125.5px;
    margin-right: 125.5px;
  }

  .section .cards-container {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  #about-me {
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 48px;
  }

  #about-me-cards {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
  }

  .card-buttons-wrap {
    height: auto;
    padding-left: 8px;
  }

  .card-buttons-wrap li {
    margin-right: 8px;
    text-align: center;
    margin-top: 8px;
  }

  #form-section {
    display: flex;
    align-items: center;
  }

  .section .contact-text p {
    text-align: left;
  }

  .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #submit-btn {
    margin-left: 0;
  }

  /* Popup */

  .popup-overlay {
    padding-top: 122px;
    padding-bottom: 86px;
    padding-left: 260px;
    padding-right: 260px;
  }

  .popup-card {
    padding-top: 78px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 44px;
    border-radius: 8px;
    gap: 12px;
    position: relative;
  }

  #desktop-popup-close {
    top: 24px;
    right: 24px;
    position: absolute;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background: transparent;
    border: none;
  }

  #popup-close {
    display: none;
  }

  .popup-img-wrap {
    width: 100%;
    height: 616px;
  }

  .popup-title-wrap {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
  }

  .popup-title-wrap h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 44px;
    width: 589px;
  }

  .popup-btn-wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 56px;
  }

  .popup-btn-wrap li a {
    background: #36b37f;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 12px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    border: none;
    height: 48px;
  }

  .popup-btn-wrap img {
    width: 24px;
    height: 24px;
  }

  #popup-mobile-btns {
    display: none;
  }

  .popup-tech {
    width: 500px;
  }

  /* Footer */

  footer {
    height: 72px;
    display: flex;
    align-items: center !important;
    justify-content: center;
    border-top: 1px solid #dfe1e6;
  }

  footer .footer-email {
    display: none;
  }
}

/* -------------------------------------------------KEY FRAMES-------------------------------------------- */

@keyframes show {
  0% {
    opacity: 0;
  }


  55% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
